{% extends "proyectoCartera/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="container mt-3">
        <div class="row">
            <label class="col-3" for="searchContrato">
                Contrato:
                <select class="searchContrato js-states form-control" id="searchContrato" name="state">
                    <option value="">Selecciona un contrato...</option>
                </select>
            </label>

            <label class="col-3" for="searchAsesor">
                Asesor:
                <select class="searchAsesor js-states form-control" id="searchAsesor" name="state">
                    <option value="">Selecciona un asesor...</option>
                </select>
            </label>

            <div class="col-3">
                <label for="searchFecha" class="form-label">Rango de fecha</label>
                <input type="text" class="form-control" id="searchFecha"
                       placeholder="Selecciona el rango de consulta">
            </div>

            <div class="col-2">
                <label for="sortBy" class="form-label">Ordenar</label>
                <select class="form-select" id="sortBy" aria-label="Default select example">
                    <option selected disabled value="">Ordenar por...</option>
                    <option value="numero_contrato">Contrato</option>
                    <option value="asesor">Asesor</option>
                    <option value="cliente">Cliente</option>
                    <option value="valor">Valor</option>
                    <option value="saldo">Saldo</option>
                    <option value="fecha_inicial">Fecha inicial</option>
                    <option value="fecha_final">Fecha final</option>
                    <option value="dias_restantes">Días restantes</option>
                </select>
            </div>

            <div class="col">
                <input type="checkbox" class="btn-check" id="sortingDirection" autocomplete="off" >
                <label class="btn btn-outline-primary" for="sortingDirection">
                    <i class="bi bi-funnel-fill"></i>
                </label>
            </div>
        </div>

        <div class="row mt-3">
            <button type="button" class="btn btn-dark" onclick="borrarFiltros()">Borrar filtros</button>
        </div>
    </div>

    <div class="container">
        <div class="m-3 text-center">
            <table id="tablaContratos" class="display nowrap cell-border table-bordered table-striped mx-auto"></table>
        </div>
        <div class="row m-3">
            <a href="{% url 'carteraApp_agregar_contrato' %}" class="btn btn-primary"> Agregar Contrato </a>
        </div>
    </div>


    <script>
        let tablaContratos = $('#tablaContratos').DataTable({
            responsive: true,
            serverSide: true,
            processing: true,
            searching: true,
            ordering: false,
            ajax: {
                url: '{% url "carteraApp_contratos_data" %}',
                data: function (d) {
                    // Obtener el valor del input de rango de fechas
                    const dateRangeValue = $('#searchFecha').val();
                    const dateRangeArray = dateRangeValue.split(' to ');
                    const startDate = dateRangeArray[0];
                    const endDate = dateRangeArray[1];

                    return $.extend({}, d, {
                        sort_by: $('#sortBy').val(),
                        sorting_direction: $('#sortingDirection').prop('checked') ? 'asc' : 'desc',
                        search_contrato: $('#searchContrato').val().toLowerCase(),
                        search_asesor: $('#searchAsesor').val().toLowerCase(),
                        search_fecha_start: startDate,
                        search_fecha_end: endDate,
                    });
                }
            },
            columnDefs: [
                {targets: [1, 2, 3]} // Habilitar Search Panes para las columnas Asesor y Cliente
            ],
            columns: [
                {data: 'numero_contrato', title: '# Contrato'},
                {data: 'asesor', title: 'Asesor'},
                {data: 'cliente_id', title: 'Cliente'},
                {data: 'valor', title: 'Valor (COP)'},
                {data: 'saldo', title: 'Saldo (COP)'},
                {data: 'fecha_inicial', title: 'Fecha Inicial'},
                {data: 'fecha_final', title: 'Fecha Final'},
                {
                    data: 'dias_restantes',
                    title: 'Dias restantes',
                    createdCell: function (cell, cellData, rowData, rowIndex, colIndex) {
                        let bg_color = '#FF6A53';
                        let txt_color = '#F2F2F2';

                        if (rowData.dias_restantes >= 0) {
                            bg_color = '#D7DE99';
                            txt_color = '#324733';
                        }

                        cell.style.backgroundColor = bg_color;
                        cell.style.color = txt_color;
                        cell.style.fontSize = '16px';
                        cell.style.fontWeight = 'bold';
                    }
                },
                {
                    data: null, title: 'Opciones',
                    render: function (data, type, row, meta) {
                        return '<button class="btn btn-info" onclick="editarContrato(' + row.numero_contrato + ')">Editar</button> ' +
                            ' <button class="btn btn-success" onclick="vista_pago(' + row.numero_contrato + ')">Pago</button>' +
                            ' <button class="btn btn-success" onclick="vista_ver_contrato(' + row.numero_contrato + ')">Ver</button>';
                    }
                },
                {
                    data: 'archivo_contrato', title: 'Archivo Contrato',
                    render: function (data, type, row, meta) {
                        if (data) {
                            return '<a href="' + data + '" target="_blank"><img src="{% static 'img/file-earmark-minus.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24"></a>';
                        } else {
                            return data
                        }
                    }
                },
            ]
        });

        $(document).ready(function () {
            tablaContratos.draw();

            /* Inicio filtros */

            $('#searchContrato, #searchAsesor, #sortBy, #sortingDirection').on("change", function () {
                tablaContratos.draw();
            });

            $('.searchContrato').select2({
                placeholder: 'Selecciona un contrato...',
                ajax: {
                    url: '{% url 'carteraApp_obtener_opciones_filtros' 'Contratos'%}',
                    dataType: 'json',
                    data: function (params) {
                        return {
                            search: params.term,
                            variable: 'numero_contrato',
                        };
                    }
                }
            });

            $('.searchAsesor').select2({
                placeholder: 'Selecciona un contrato...',
                ajax: {
                    url: '{% url 'carteraApp_obtener_opciones_filtros' 'Contratos'%}',
                    dataType: 'json',
                    data: function (params) {
                        return {
                            search: params.term,
                            variable: 'asesor',
                        };
                    }
                }
            });

            const searchFecha = flatpickr('#searchFecha', {
                locale: "es",
                mode: "range",
                time_24hr: true,
                dateFormat: "Y-m-d",
                maxDate: new Date(),
                onClose: function (selectedDates, dateStr, instance) {
                    tablaContratos.draw();
                }
            });


            /* Fin filtros */

        });

        function editarContrato(contratoId) {
            window.location.href = '{% url 'carteraApp_editar_contrato' 'numero_contrato' %}'.replace('numero_contrato', contratoId)
        }

        function vista_pago(contratoId) {
            window.location.href = '{% url 'carteraApp_agregar_pago' 'numero_contrato' %}'.replace('numero_contrato', contratoId)
        }

        function vista_ver_contrato(contratoId) {
            window.location.href = '{% url 'carteraApp_ver_contrato' 'numero_contrato' %}'.replace('numero_contrato', contratoId)
        }

        function borrarFiltros() {
            $('#sortBy').val(null);
            $('#searchFecha').val(null);
            $('#searchContrato').val(null);
            $('#searchAsesor').val(null).trigger('change');
        }
    </script>
    <script src="{% static 'js/filtro_contrato.js' %}"></script>

    {% if messages %}
        {% for mensaje in messages %}
            <script>
                Swal.fire({
                    "title": "{{ mensaje }}",
                    "icon": "success"
                })
            </script>
        {% endfor %}
    {% endif %}

{% endblock %}
