{% extends "proyectoCartera/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}


    <div class="conteiner">
        <form method="post">
            {% csrf_token %}
        </form>
        <div class="row justify-content-center">
            <div class="card shadow-lg o-hidden border-0 my-1">
                <div class="card-body">
                    <div class="row d-flex justify-content-center my-0" style="margin: 50px;">
                        <div class="col p-3">
                            <fieldset class="border  border-2 border-dark  p-4">
                                <legend class="fw-bold">Filtros</legend>
                                <div class="row m-3">
                                    <div class="col-2 fs-6">
                                        <span class="fw-bold"> Contrato : </span>
                                        <select class="searchContrato js-states form-control" id="searchContrato"
                                                name="state">
                                            <option value="">Selecciona un contrato...</option>
                                        </select>
                                    </div>
                                    <div class="col-2 fs-6">
                                        <span class="fw-bold"> Asesor : </span>
                                        <select class="searchAsesor js-states form-control form-select"
                                                id="searchAsesor"
                                                name="state">
                                            <option value="">Selecciona un asesor...</option>
                                        </select>
                                    </div>

                                    <div class="col-3 fs-6">
                                        <span class="fw-bold"> Rango de fecha : </span>
                                        <input type="text" class="form-control" id="searchFecha"
                                               placeholder="Selecciona el rango de consulta">
                                    </div>


                                    <div class="col-2">
                                        <span class="fw-bold">Ordenar : </span>
                                        <select class="form-select" id="sortBy" aria-label="Default select example">
                                            <option selected disabled value="">Ordenar por...</option>
                                            <option value="numero_contrato">Contrato</option>
                                            <option value="asesor">Asesor</option>
                                            <option value="cliente">Cliente</option>
                                            <option value="valor">Valor</option>
                                            <option value="fecha_inicial">Fecha inicial</option>
                                            <option value="fecha_final">Fecha final</option>
                                        </select>
                                    </div>

                                    <div class="col-1">
                                        <input type="checkbox" class="btn-check" id="sortingDirection"
                                               autocomplete="off">
                                        <label class="btn btn-outline-primary" for="sortingDirection">
                                            <i class="bi bi-funnel-fill"></i>
                                        </label>
                                    </div>

                                    <div class="col-2 fs-6">
                                        <div class="row">
                                            <button type="button" class="btn btn-dark" onclick="borrarFiltros()">
                                                Borrar
                                                filtros
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="col p-3">
                            <fieldset class="border  border-2 border-dark  p-4">
                                <legend class="fw-bold">Contratos</legend>
                                <div class="container">
                                    <div class="ext-center">
                                        <table id="tablaContratos"
                                               class="display nowrap cell-border table-bordered table-striped mx-auto"></table>
                                    </div>
                                    <div class="row m-3">
                                        <a href="{% url 'carteraApp_agregar_contrato' %}" class="btn btn-primary">
                                            Agregar Contrato </a>
                                    </div>
                                    <div class="row m-3">
                                        <button class="btn btn-primary" onclick="enviarDatos()"> PDF</button>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        {#window.location.href = '{% url 'carteraApp_pdf' %}' #}

        function enviarDatos() {
            var search_contrato = $('#searchContrato').val().toLowerCase();
            var search_asesor = $('#searchAsesor').val();
            const dateRangeValue = $('#searchFecha').val();
            const dateRangeArray = dateRangeValue.split(' to ');
            const startDate = dateRangeArray[0];
            const endDate = dateRangeArray[1];
            var search_fecha_start = startDate;
            var search_fecha_end = endDate;
            var csrftoken = $('input[name=csrfmiddlewaretoken]').val();

            $.ajax({
                url: '{% url "carteraApp_pdf" %}',
                type: 'POST',
                headers: {'X-CSRFToken': csrftoken},
                data: {
                    'search_contrato': search_contrato,
                    'search_asesor': search_asesor,
                    'search_fecha_start': search_fecha_start,
                    'search_fecha_end': search_fecha_end
                },
                success: function (response) {
                    var blob = new Blob([response], {type: 'application/pdf'});
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = "informe_contratos.pdf"; // Nombre del archivo para descargar
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                }
            });
        }


        let tablaContratos = $('#tablaContratos').DataTable({
            responsive: true,
            serverSide: true,

            searching: false,
            lengthChange: false,
            ordering: false,
            ajax: {
                url: '{% url "carteraApp_contratos_data" %}',
                data: function (d) {
                    // Obtener el valor del input de rango de fechas
                    const dateRangeValue = $('#searchFecha').val();
                    const dateRangeArray = dateRangeValue.split(' to ');
                    const startDate = dateRangeArray[0];
                    const endDate = dateRangeArray[1];

                    return $.extend({}, d, {
                        sort_by: $('#sortBy').val(),
                        sorting_direction: $('#sortingDirection').prop('checked') ? 'asc' : 'desc',
                        search_contrato: $('#searchContrato').val().toLowerCase(),
                        search_asesor: $('#searchAsesor').val(),
                        search_fecha_start: startDate,
                        search_fecha_end: endDate,
                    });
                }
            },
            language: {
                info: "",
                infoFiltered: "",
                infoEmpty: "",
            },
            columns: [
                {data: 'numero_contrato', title: '# Contrato'},
                {data: 'asesor', title: 'Asesor'},
                {data: 'cliente_id', title: 'Cliente'},
                {data: 'valor', title: 'Valor (COP)'},
                {data: 'saldo', title: 'Saldo (COP)'},
                {data: 'fecha_inicial', title: 'Fecha Inicial'},
                {data: 'fecha_final', title: 'Fecha Final'},
                {
                    data: 'dias_restantes',
                    title: 'Dias restantes',
                    createdCell: function (cell, cellData, rowData, rowIndex, colIndex) {
                        let bg_color = '#FF6A53';
                        let txt_color = '#F2F2F2';

                        if (rowData.dias_restantes >= 0) {
                            bg_color = '#D7DE99';
                            txt_color = '#324733';
                        }

                        cell.style.backgroundColor = bg_color;
                        cell.style.color = txt_color;
                        cell.style.fontSize = '16px';
                        cell.style.fontWeight = 'bold';
                    }
                },
                {
                    data: null, title: 'Opciones',
                    render: function (data, type, row, meta) {
                        return '<button class="btn btn-info" onclick="editarContrato(' + row.numero_contrato + ')">Editar</button> ' +
                            ' <button class="btn btn-success" onclick="vista_pago(' + row.numero_contrato + ')">Pago</button>' +
                            ' <button class="btn btn-success" onclick="vista_ver_contrato(' + row.numero_contrato + ')">Ver</button>';
                    }
                },
                {
                    data: 'archivo_contrato', title: 'Archivo Contrato',
                    render: function (data, type, row, meta) {
                        if (data) {
                            return '<a href="' + data + '" target="_blank"><img src="{% static 'img/file-earmark-minus.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24"></a>';
                        } else {
                            return data
                        }
                    }
                },
            ]
        });

        $(document).ready(function () {
            tablaContratos.draw();

            /* Inicio filtros */

            $('#searchContrato, #searchAsesor, #sortBy, #sortingDirection').on("change", function () {
                tablaContratos.draw();
            });

            $('.searchContrato').select2({
                theme: 'bootstrap-5',
                placeholder: 'Selecciona un contrato...',
                ajax: {
                    url: '{% url 'carteraApp_obtener_opciones_filtros' 'Contratos'%}',
                    dataType: 'json',
                    data: function (params) {
                        return {
                            search: params.term,
                            variable: 'numero_contrato',
                        };
                    }
                }
            });

            $('.searchAsesor').select2({
                theme: 'bootstrap-5',
                placeholder: 'Selecciona un contrato...',
                ajax: {
                    url: '{% url 'carteraApp_obtener_opciones_filtros' 'Contratos'%}',
                    dataType: 'json',
                    data: function (params) {
                        return {
                            search: params.term,
                            variable: 'asesor',
                        };
                    }
                }
            });

            const searchFecha = flatpickr('#searchFecha', {
                locale: "es",
                mode: "range",
                time_24hr: true,
                dateFormat: "Y-m-d",
                maxDate: new Date(),
                onClose: function (selectedDates, dateStr, instance) {
                    tablaContratos.draw();
                }
            });


            /* Fin filtros */

        });

        function editarContrato(contratoId) {
            window.location.href = '{% url 'carteraApp_editar_contrato' 'numero_contrato' %}'.replace('numero_contrato', contratoId)
        }

        function vista_pago(contratoId) {
            window.location.href = '{% url 'carteraApp_agregar_pago' 'numero_contrato' %}'.replace('numero_contrato', contratoId)
        }

        function vista_ver_contrato(contratoId) {
            window.location.href = '{% url 'carteraApp_ver_contrato' 'numero_contrato' %}'.replace('numero_contrato', contratoId)
        }

        function borrarFiltros() {
            $('#sortBy').val(null);
            $('#searchFecha').val(null);
            $('#searchContrato').val(null);
            $('#searchAsesor').val(null).trigger('change');
        }
    </script>
    <script src="{% static 'js/filtro_contrato.js' %}"></script>

    {% if messages %}
        {% for mensaje in messages %}
            <script>
                Swal.fire({
                    "title": "{{ mensaje }}",
                    "icon": "success"
                })
            </script>
        {% endfor %}
    {% endif %}

{% endblock %}
