{% extends "ProyectoCartera/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}
    {% if messages %}
        {% for mensaje in messages %}
            <script>
                Swal.fire({
                    "title" : "{{ mensaje }}",
                    "icon" : "success"
                })
            </script>
        {% endfor %}
    {% endif %}

    <div class="table-responsive m-5">
         <table id="example" class="display nowrap" ></table>
    </div>
     <div class="row m-5" >
        <a href="{% url 'agregar_contrato' %}" class="btn btn-primary"> Agregar Contrato </a>
    </div>

    <script>
    $(document).ready(function() {
        $('#example').DataTable({
            responsive: true,
            serverSide: true,
            processing: true,
            searching: true,
            ajax: '{% url "contratos_data" %}',
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.11/i18n/Spanish.json"
            },
            columns: [
                { data: 'Numero_Contrato', title: '# Contrato'},
                { data: 'asesor', title: 'Asesor' },
                { data: 'cliente_id', title: 'Cliente' },
                { data: 'valor', title: 'Valor' },
                { data: 'Fecha_Inicial', title: 'Fecha Inicial' },
                { data: 'Fecha_Final', title: 'Fecha Final' },
                { data: 'descripcion', title: 'Descripcion' },
                { data: 'archivo_contrato', title: 'Archivo Contrato',
                    render: function (data, type, row, meta){
                        if(data){
                            return '<a href="'+data+'" target="_blank"><img src="{% static 'img/filetype-pdf.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24"></a>';
                        }else{
                            return data
                        }
                    }
                },
                { data: null, title: 'Opciones',
                    render: function (data, type, row, meta) {
                        return '<button class="btn btn-info" onclick="editarContrato(' + row.Numero_Contrato +')">Editar</button> ' +
                            ' <button class="btn btn-success" onclick="vista_pago(' + row.Numero_Contrato +')">Pagos</button>';
                    }
                }
            ]
        });
    });

    function editarContrato(contratoId) {
        window.location.href = "/editarContratoVista/" + contratoId.toString()
    }

    function vista_pago(contratoId){
        window.location.href = "/Pagos/" + contratoId.toString()
    }
</script>
{% endblock %}