{% extends "proyectoCartera/base.html" %}

{% block title %}Editar Pago{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <form method="POST" class="form-control" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row"><label class="form-label"> # Contrato: {{ numero_contrato }}</label></div>
                <div class="row"><label class="form-label"> Tipo de pago: {{ tipo_pago }}</label></div>
                <div class="row"><label class="form-label"> Valor: {{ valor_pago }}</label></div>
                <div class="row"><label class="form-label"> Fecha de pago: {{ fecha_pago }}</label></div>
                <div class="row">{{ form.as_p }}</div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}