{% extends "proyectoCartera/base.html" %}
{% load static %}

{% block title %}Clientes{% endblock %}

{% block body %}
    <div class="table-responsive m-5">
        <table id="example" class="display nowrap"></table>
    </div>

    <div class="row m-5">
        <div class="row"><label class="form-label"> Valor Contrato : {{ datos.0 }}</label></div>
        <div class="row"><label class="form-label"> Valor Pagos : {{ datos.1 }}</label></div>
        <div class="row"><label class="form-label"> Saldo : {{ datos.2 }}</label></div>
    </div>
    <div class="row m-5">
        {% if datos.2 > 0 %}
            {#            <a href="/AgregarPagosVista/{{ contrato }}" class="btn btn-info">Realizar pago</a>#}
            <a href='{% url 'carteraApp_agregar_pago' contrato %}' class="btn btn-info">Realizar pago</a>
        {% else %}
            <button class="btn btn-info" disabled>Realizar pago</button>
        {% endif %}
    </div>
    {% if messages %}
        {% for mensaje in messages %}
            <script>
                Swal.fire({
                    "title": "{{ mensaje }}",
                    "icon": "success"
                })
            </script>
        {% endfor %}
    {% endif %}

        <script>
        $('#example').DataTable({
            responsive: true,
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.11/i18n/Spanish.json"
            },
            columns: [
                {title: 'id', visible:false},
                { title: 'Contrato' },
                { title: 'Tipo Pago' },
                { title: 'Valor.' },
                { title: 'Fecha Pago' },
                {
                    title: 'Archivo',
                    render: function (data, type, row, meta){
                        if (row[5]){
                            return '<a href="/media/' + row[5] + '" target="_blank"><img src="{% static 'img/filetype-pdf.svg' %}" class="bi d-block mx-auto mb-1" width="24" height="24"></a>';
                        }
                        else{
                            return ''
                        }
                    }
                },
                {
                    title: 'Acciones',
                    render: function (data, type, row, meta) {
                        return '<button class="btn btn-info" onclick="editarPago(' + row[0] +')">Editar</button> '
                    }
                }
            ],
            data: {{ datos_pagos|safe }}
        });
        function editarPago(contratoId) {
           window.location.href = '{% url 'carteraApp_editar_pago' 'numero_contrato' %}'.replace('numero_contrato', contratoId)
        }
    </script>
{% endblock %}