{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
 <div class="row">
        <div class="col">
            <h1>CONTRATOS</h1>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th># Contrato</th>
                        <th>Asesor</th>
                        <th>Cliente</th>
                        <th>Valor</th>
                        <th>Descripcion</th>
                        <th>Fecha Inicial</th>
                        <th>Fecha Final</th>
                        <th>Archivo</th>
                        <th>Opcion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for infoContrato in Contratos %}
                        <tr>
                            <td>{{ infoContrato.Numero_Contrato }}</td>
                            <td>{{ infoContrato.asesor }}</td>
                            <td>{{ infoContrato.cliente.cedula}}</td>
                            <td>{{ infoContrato.valor }}</td>
                            <td>{{ infoContrato.descripcion }}</td>
                            <td>{{ infoContrato.Fecha_Inicial }}</td>
                            <td>{{ infoContrato.Fecha_Final }}</td>
                            <td><a href="media/{{ infoContrato.archivo_contrato }}" target="_blank">{{ infoContrato.archivo_contrato }}</a></td>
                            <td><a href="editarContratoVista/{{ infoContrato.Numero_Contrato }}" class="btn btn-info">Editar</a></td>
                            <td><a href="Pagos/{{ infoContrato.Numero_Contrato }}" class="btn btn-info">Pagos</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>

        </div>
    </div>
    <div class="row" >
        <a href="{% url 'agregar_contrato' %}" class="btn btn-primary"> Agregar Contrato </a>
    </div>
    <br>
    <div class="row">
        <a href="{% url 'clientes' %}" class="btn btn-primary"> Clientes </a>
    </div>
{% endblock %}